.form {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &__wrap {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin: 0 0 10px;

    &_type_profile {
      row-gap: 0;
    }
  }

  &__item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &_type_profile {
      border-bottom: 1px solid #424242;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-weight: 400;
    line-height: 1.2; // 12px
    color: #8b8b8b;
    text-align: left;
    letter-spacing: 0;

    &_type_profile {
      position: relative;

      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;

      width: 100%;
      height: 46px;

      font-size: 11px;
      font-weight: 500;
      line-height: 1.18; // 13px
      color: #fff;
      text-align: left;
      letter-spacing: 0;
    }

    &_type_error {
      color: #ee3465;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    margin: 10px 0 0;
    padding: 0 15px;

    font-size: 13px;
    font-weight: 400;
    line-height: 1.23; // 16px
    color: #fff;
    text-align: left;
    text-overflow: ellipsis;
    letter-spacing: 0;

    background-color: #2f2f2f;
    border: none;
    border-radius: 8px;
    outline: none;

    &:focus,
    &:active {
      box-shadow: inset 0 5px 5px -5px #4285f4, inset 0 -5px 5px -5px #4285f4;
    }

    &_type_profile {
      position: absolute;
      top: 0;
      left: 0;

      margin: 0;
      padding: 0 0 0 40px;

      font-size: 11px;
      font-weight: 400;
      line-height: 1.18; // 13px
      text-align: right;
      letter-spacing: 0;

      background-color: #2f2f2f00;
      border-radius: 3px;
    }

    &_type_error {
      color: #ee3465;

      &:focus,
      &:active {
        box-shadow: inset 0 5px 5px -5px #ee3465, inset 0 -5px 5px -5px #ee3465;
      }
    }

    // для убирания стилей автозаполнения
    &:-webkit-autofill {
      box-shadow: 0 0 0 30px #2f2f2f inset;
      transition: background-color 5000s ease-in-out 0s;

      -webkit-text-fill-color: #fff;
    }
  }

  &__errors-list {
    margin: 0 0 20px;
  }

  &__message {
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-weight: 400;
    line-height: 1.2; // 12px
    text-align: center;
    letter-spacing: 0;

    opacity: 0;

    transition: 0.3s;

    &_visible_success {
      color: #3ddc84;
      opacity: 1;
    }

    &_visible_fail {
      color: #ee3465;
      opacity: 1;
    }
  }

  &__error {
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-weight: 400;
    line-height: 1.2; // 12px
    color: #ee3465;
    text-align: left;
    letter-spacing: 0;

    opacity: 0;

    transition: 0.3s;

    &_center {
      align-self: center;
    }

    &_visible {
      opacity: 1;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    row-gap: 21px;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    &_type_profile {
      row-gap: 12px;
    }

    @media screen and (width <= 768px) {
      &_type_profile {
        margin: 0 0 38px;
      }
    }

    @media screen and (width <= 320px) {
      row-gap: 11px;

      &_type_profile {
        row-gap: 15px;
        margin: 0 0 22px;
      }
    }
  }

  &__button {
    width: 100%;
    height: 45px;

    &_type_profile {
      width: min-content;
      height: min-content;
    }

    &_disabled {
      color: #ee3465;
      opacity: 0.6;
      background-color: #0000;
      border: 1px solid #ee3465;
    }
  }

  &__link-wrapper {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    @media screen and (width <= 320px) {
      justify-content: space-between;
    }
  }

  &__link-text {
    margin: 0 20px 0 0;
    padding: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.21; // 17px
    color: #8b8b8b;
    text-align: center;
    letter-spacing: 0;

    @media screen and (width <= 370px) {
      font-size: 12px;
      line-height: 1.25; // 15px
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21; // 17px
    color: #4285f4;
    text-align: center;
    letter-spacing: 0;

    @media screen and (width <= 370px) {
      font-size: 12px;
      line-height: 1.25; // 15px
    }
  }
}
