.elements {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: min-content;
  margin: 0;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: flex-start;

    width: 100%;
    padding: 70px 0 10px;

    @media screen and (width <= 768px) {
      padding: 60px 0 30px;
    }

    @media screen and (width <= 320px) {
      row-gap: 20px;
      padding: 40px 0 20px;
    }
  }

  &__button {
    align-self: center;
    width: 320px;
    height: 36px;
    margin: 50px 0 80px;

    @media screen and (width <= 520px) {
      width: 80%;
    }

    @media screen and (width <= 320px) {
      width: 240px;
    }
  }

  &__message {
    align-self: center;

    width: 100%;
    max-width: 350px;
    margin: 0;
    padding: 0;

    text-align: center;
  }
}
