.header {
  display: flex;
  flex: 0; /* sticky header */
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;
  height: 74px;
  max-height: 74px;
  margin: 0;
  padding: 0;

  background-color: #202020;

  &_background_cyan {
    background-color: #073042;
  }

  &__container {
    display: flex;
    flex: auto;
    justify-content: space-between;
  }

  &__logo {
    cursor: pointer;

    align-self: center;

    width: 38px;
    height: min-content;
    height: 38px;
    min-height: 38px;
    margin: 0;
    padding: 0;

    background-image: url("../../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s ease;
    }
  }
}
