.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  margin: 0;
  padding: 0;

  background-color: #202020;

  &_background_cyan {
    background-color: #073042;
  }

  &__container {
    width: 100%;
    max-width: 1140px;
  }

  &__logo {
    /* чтобы текст кнопки не выделялся при нажатии на неё пальцем в mobile-view */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: #00000000;

    -webkit-touch-callout: none;
  }
}
