.navbar {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;

  width: min-content;
  margin: 0;
  padding: 0;

  &__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38; // 18px
    color: #fff;
    text-align: right;
    letter-spacing: 0;

    &_active {
      font-weight: 500;
    }

    &_type_sign-up {
      margin-right: 30px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.33; // 16px

      @media screen and (width < 400px) {
        margin-right: 14px;
        font-size: 10px;
      }
    }
  }
}
